*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #eceaea;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2rem 1rem;
    text-align: center;
}

section h2 {
    margin-bottom: 1rem;
}

.project {
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#skills ul {
    list-style: none;
    padding: 0;
}

#skills ul li {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 3px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

span {
    color: purple;
}

a {
    text-decoration: none;
}

.im, .sql, .kulture, .us {
    width: 100%;
    height: auto;
}

p {
    padding: 0 5%;
}
/* display flex  */


/* Media Queries */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 1rem 0;
    }

    p {
        padding: 0 10%;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    section {
        padding: 1rem 0.5rem;
    }

    p {
        padding: 0 2%;
    }
}
